/****************/
/*   Behavour   */
/****************/
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #111;
  font-family: "Deja Vu Sans", "Bitstream Vera Sans", sans-serif;
  text-align: justify;
  font-size: 13px;
  cursor: default;
}
#page {
  min-height: 100%;
}
#page-content {
  padding: 10px 10px 8em 10px;
}
#footer {
  margin-top: -4em;
  height: 4em;
}

/***************/
/*    Style    */
/***************/
.accessibility {
  display: none;
}
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}
input {
  border: 1px solid #039de4;
}
input[type=submit] {
  background-color: #eee;
  color: #111;
}
input#q {
  width: 100px;
}
a {
  color: #039de4;
}
a:hover {
  color: #a00;
}
#header {
  /* Separation line is now displayed by the menu
  border-bottom: 1px solid #ccc;
  */
  background: url(../images/logo_100.png) no-repeat 10px 10px;
  float: left;
  padding-left: 130px;
  height: 110px;
}

#header a {
  color: #111;
  text-decoration: none;
}
h1 {
  margin: 0;
  padding-top: 10px;
  font-size: 200%; /* Keep text centered even if the side bar is on right */
}
h2 {
  margin: 1ex 0 .2ex 0;
  font-size: 120%;
}
h3, h4 {
  margin: 1ex 0 .2ex 0;
}
.subtitle {
  margin: 0;
  font-size: 130%;
  font-style: italic;
}
img#toplogo {
  float: left;
  padding: 10px;
}
img {
  vertical-align: middle;
  border: 0;
}

.menu {
  text-align: right;
  padding: 2px 25px; /* border */
  border-bottom: 1px solid #ccc;
  border-bottom: 1px solid #039de4;
  margin-top: 100px;
}
#content .menu {
  text-align: center;
  margin-top: 1em;
}
.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu li {
  display: inline;
  margin: 0 .25ex;
}
.menu li a {
  border: 1px solid #ccc;
  border-bottom-width: 0;
  padding: 2px 5px 2px 5px;
  color: #666;
  text-decoration: none;
  background-color: #fff;
}
.menu li a.active, .menu li a:hover {
  border-color: #039de4;
  color: #039de4;
  padding-bottom: 3px;
}

#footer-content {
  text-align: center;
  color: #aaa;
  background-color: #fff;
  font-size: 80%;
  padding: 0 300px;
}
#footer-content a {
  color: #aaa;
}
#footer-separator {
  width: 70ex;
  border-top: 1px solid #ccc;
  margin-left: auto;
  margin-right: auto;
}
#footer-separator img {
  margin-top: -20px;
  background-color: #fff;
}


#ad_top {
  border-bottom: 1px solid #039de4;
  padding:5px;
  text-align: center;
}
#ad_side .ad {
  text-align: center;
}
#ad_bottom {
  padding:5px;
  text-align: center;
  border: 1px solid #039de4;
  border-width: 1px 0;
}
.ad * {
  border: 2px solid #eee;
}
.advertisment {
/*
  display: none;
*/
  white-space: nowrap;
}

#breaking-news {
  margin: 0;
  padding: 0;
  display: table-cell;
}
#breaking-news li {
  display: table-cell;
  /*-moz-border-radius: 10px;*/
  padding: 1ex 1.5ex;
  border: 2px solid #fff;
}
.news1 {
  background-color: #fce94f;
  background-color: #e5f7fa;
  background-color: #abdef1;
  background-color: #eee;
}
.news2 {
  background-color: #fcaf3e;
  background-color: #d2edf0;
  background-color: #abdef1;
  background-color: #eee;
}
.news3 {
  background-color: #8ae234;
  background-color: #abdef1;
  background-color: #eee;
}

#side {
  float: right;
  width: 200px;
  padding: 10px 10px 50px 10px;
}
#content {
  margin-right: 210px;
  padding: 10px;
}

#content p {
  margin: 0 0 .3ex 0;
}

#content hr {
  border: 0;
  height: 1px;
  background-color: #ccc;
}

.box, .commit {
  border-left: 3px solid #039de4;
  padding: .5ex 0 .5ex 10px;
  margin-left: 10px;
}
.commit.vulnerable {
  border-left: 3px solid #f00;
}
#side .box ul {
  list-style: none;
  padding: 0 0 0 2ex;
  margin: 0 0 .5ex 0;
}
#side .box ul.vulnerabilities, #side .box ul.statistics {
  padding-left: 0px;
  margin: 0 0 1ex 0;
}

.commit {
  padding: 10px;
}
.commit ul {
  margin: 0;
  padding: 0 0 10px 0;
  list-style: none;
  font-weight: bold;
}
.commit pre {
  margin: 0;
  padding: 1ex 1.5ex;
  color: #444;
  border: 1px solid #ccc;
  overflow: auto;
}

#timeback {
  width: 2em;
}

a.category {
  font-weight: normal;
}
a.port {
  font-size: 140%;
  font-weight: bold;
}

dd a.port {
  font-size: 100%;
}

dd ul {
  padding-left: 0;
}

.forbiden, .deleted, .broken {
  color: #f00;
  text-decoration: line-through;
}
.timeline {
  color: #aaa;
  font-style: italic;
}




/***************/
#categories-cloud {
  padding: 0 2em;
  line-height: 3em; /* Tag font-size: 80 -> 150% */
  text-align: center;
}

#categories-cloud * {
  vertical-align: middle;
}
.port-count {
  font-size: 80%;
  color: #aaa;
}

td.number {
  text-align: right;
}

#categories-list {
  width: 100%;
  padding: 1em 0;
}

#categories-list tr:hover {
  background-color: #eee;
}
#categories-list td {
  padding: 1px 5px;
}

.search-result-pages {
  text-align: center;
  padding: 1ex;
  border-top: 1px solid #039de4;
  border-bottom: 1px solid #039de4;
  margin: 1em 0;
}

.search-result-pages .page {
  padding: .3ex 1ex;
}

.search-result-pages a.page:hover {
  background-color: #039de4;
  color: #fff;
}

dt {
  margin-top: 1ex;
  font-style: italic;
}
dd blockquote {
  margin: 0;
}

.flags {
  float: right;
  font-weight: normal;
}
