body { font: 12px 'Trebuchet MS', 'Luxi Sans', sans-serif; margin: 0; padding: 0; }
a:link, a:visited { color: #000; }
a:hover { color: #c00; }
h1 { font-size: 1.5em; padding: 5px 0; margin: 0; }
input { vertical-align: middle; }
#wrapper { width: 100%; text-align: center; }
#content { width: 90%; text-align: left; margin: 0 auto; }
#header { height: 75px; width: 100%; background: url(style.png); color: #fff; }
#search { width: 250px;	line-height: 50px; height: 50px }
#search input { vertical-align: middle; color: #ddd; font-size: 22px; margin: 5px 0 5px; line-height: 22px; width: 250px; }
#header a:link, #header a:visited { color: #394245; text-decoration: none; }
#header a:hover { color: #000; text-decoration: underline; }
#header-content a:link, #header-content a:visited { color: #fff; text-decoration: none; }
#header-content a:hover { color: #fff; text-decoration: underline; }
#header-wrapper { height: 75px; background: url(style.png) 100% -75px; margin-left: 10px; }
#header-content { width: 100%; height: 50px; }
#header-content div { float: right; padding-right: 1em; width: 175px; }
#header-content p { line-height: 1em; text-align: right; padding: 5px 0 0; margin: 0; height: 45px; }
html>body #header-content p { height: 50px }
#header h1 { margin: 0; padding: 0; width: 200px; height: 50px; background: url(style.png) -1400px -1900px; }
#header h1 a {	text-indent: -1000px; display: block; height: 50px; width: 200px; }
#header ul { margin: 0; padding: 0; list-style: none; }
#header li { float: left; margin: 0 1em 0 0; line-height: 25px; padding: 0 1em 0 0; background: url(style.png) 100% -150px }
.horiz-ads { width: 100%; height: 90px; padding: 10px 0; text-align: center; clear: both; }
.horiz-ads div { height: 90px; border: 1px solid #e5ebed; line-height: 90px; font-size: 50px; color: #e5ebed; }
#announcements { width: 100%; padding: 10px 0; }
#center-wrapper { margin-right: 210px; background: url(style.png) 0 -2060px no-repeat; }
#center { background: url(style.png) 100% -9800px no-repeat; margin-left: 10px; padding-right: 10px; }
#menu { float: right; width: 200px; }
.section { background: url(style.png) 0 -200px; padding: 0 0 20px 10px; }
.port h2 { color: #3b547a; }
.port a { color: #3b547a; }
.section ul { padding: 0; margin: 0; list-style: none; }
.section li { padding: 0 2px 2px 10px; background: url(style.png) -500px -155px; margin: 0; }
.alt { background: #f1f5f6; }
.section td { padding: 2px; }
.note { font-size: 11px; }
.sideads { border: 1px solid #e5ebed; line-height: 100px; font-size: 50px; color: #e5ebed; text-align:center; }
#center-title a { background: url(style.png) 0 -150px; width: 20px; height: 20px; margin-left: 1em; display: block; float: right; }
.port { padding-top: 1em; clear: left; border-top: 1px solid #e5ebed; }
.port h2 { font-size: 1.2em; padding: 0; margin: 0; line-height: 15px; }
.port h2 span { background: url(style.png) 0 -1975px; width: 15px; height: 15px; margin-left: .5em; display: block; float: right; }
.port h2 span.not-flagged { background: url(style.png) 0 -2000px; }
.port h2 span.flagged { background: url(style.png) 0 -1960px; }
.port h2 span.removed { background: url(style.png) 0 -1900px; }
.port h2 span.new { background: url(style.png) 0 -2040px; }
.port pre { padding: .5em 0; margin: 0; }
.port ul { padding: 0 0 3em; margin: 0; list-style: none; }
.port li { float: left; padding: 0 10px 0 20px; margin: 2px 10px 2px 0; line-height: 15px; }
.port li.original, .port li.sources { background: url(style.png) 0 -1940px; }
.port li.add { background: url(style.png) 0 -2020px; }
.port li.cvs { background: url(style.png) -530px -1945px; }
.port li.web { background: url(style.png) -530px -1930px; }
.port li.files { background: url(style.png) 0 -1920px; }
.port p { padding: 0; margin: .5em 0; }
.page-numbers { margin: 2em 0; padding: 1em; background: #fff; border: 1px solid #e5ebed; text-align: center; }
#cats { width: 100%; }
#cats th, #cats th a { background: #666; color: #fff; text-align: left; }
.cat-sec { padding-bottom: 3em; padding-top: 1em; clear: left; border-top: 1px solid #e5ebed; }
a.add-watch { background: url(style.png) 0 -2020px; width: 15px; height: 15px; display: block; float: right; }
a.dependency { background: url(style.png) -530px -1915px; width: 15px; height: 15px; display: block; float: right; margin-right: .5em; }
a.maintainer { background: url(style.png) -530px -1900px; width: 15px; height: 15px; display: block; float: right; margin-right: .5em; }
a.files { background: url(style.png) 0 -1920px; width: 15px; height: 15px; display: block; float: right; margin-right: .5em; }
a.original { background: url(style.png) 0 -1940px; width: 15px; height: 15px; display: block; float: right; margin-right: .5em; }
a.interactive { background: url(style.png) -530px -1960px; width: 15px; height: 15px; display: block; float: right; }
#port-number { float: right; width: 100px; display: block; text-align: right; margin-right: .5em; }
ul.search { padding: 0; margin: 0; list-style: none; }
.search li { padding: 0 2px 2px 10px; background: url(style.png) -500px -155px; margin: 0; }
.leftcol { width: 66%; float: left; }
.leftcol ul, .rightcol ul { padding: 0; margin: 0; list-style: none; }
.leftcol li, .rightcol li { padding: 0 2px 2px 10px; background: url(style.png) -500px -155px; margin: 0; }
.rightcol { width: 33%; float: right; }
#commits { border-collapse: collapse; }
#commits td, #commits th { vertical-align: top; border: 1px solid #fff; padding: .5em; }
#commits th { color: #fff; background: #333; }
#commits pre { white-space: normal; }
.date { white-space: nowrap; }
#footer-wrapper { clear: both; height: 50px; background: url(style.png) 0 -1500px; padding-left: 5px; }
#footer { height: 50px; background: url(style.png) 100% -1700px; }
#footer a:link, #footer a:visited { color: #ddd; }
#footer a:hover { color: #fff; }
#freebsd a { float: right; width: 30px; height: 30px; background: url(style.png) -500px -1900px; margin: 10px; display: block; }
#footer ul { margin: 0; padding: 10px 5px 0; list-style: none; color: #fff; line-height: 1.5em; }
#footer li { padding: 0; margin: 0; }