AuthUserFile     /www/freshports.org/_private/passwd
AuthGroupFile    /www/freshports.org/_private/passwd.group
AuthName         "protectthis"
AuthType         Basic

<Files phpPollAdmin.php3>
require valid-user
</Files>
