BODY, TD, TR, P, UL, OL, LI, INPUT, SELECT, DL, DD, DT, FONT
{
    font-size: 12px;
}

CODE.code { color: #461b7e}
PRE.code {  color: #461b7e}
BLOCKQUOTE.code { color: #461b7e}
TD.sans { font-size: smaller; }
P.white { color: white; }
P.blackhead { color: black; font-weight: 900; }
P.whitehead { color: white; font-weight: 900; }
P.yellow { color: #FFCC33; }
A:hover { color: #666666; }
A.white { color: white; text-decoration: none; font-size: smaller; }
A.black { color: black; text-decoration: none; font-size: smaller; }
A.white:hover { text-decoration: underline; }

div.section {
	padding          : 0.25em;
	background-color : #FFCC33;
	border           : 2px outset #333;
	font-size        : 120%;
	font-weight      : bold;
	text-align       : left;
}

div.section .left {
	float : left;
}

blockquote {
	margin: 15px 30px 15px 10px;
	padding-left: 20px;
	border-left: 5px solid #ddd;
}

div#time
{
    font-size: smaller
}

div#followus
{
    float: right;
    font-size: 15px;
}

div#followus .header
{
    font-size: 37px;
}


p.required, span.required
{
    font-weight: bold;
}

ol.required, ol.depends, ol.mastersites
{
    margin-bottom: 10px;
}

div.showLink
{
    margin-bottom: 20px;
}

span.amazon
{
  float:     right;
  font-size: 20px;
}

span.fp_description_short
{
  font-size:   16px;
}