<?
	# $Id: common.php.sample,v 1.1.2.1 2001-11-25 00:42:16 dan Exp $
	#
	# Copyright (c) 1998-2001 DVL Software Limited

# 
# This file should be included first by any page wishing
# access to freshports
# 

# These are the default values

$Debug					= 0;
$ShowAds				= 1;
$BannerAd				= 1;
$BannerAdUnder			= 1;
$BurstFrontPage120x160	= 1;
$BurstFrontPage125x125	= 1;
$FrontPageAdsPayPal		= 1;
$FrontPageAdsAmazon		= 1;
$FrontPageDaemonNews	= 1;

$HeaderAdsPayPal		= 1;
$HeaderAdAmazon			= 1;
$HeaderAdsBurst125x125	= 1;
$HeaderAdsBurst120x160	= 1;

$DiaryConfigFile = "/home/freshports.org/configuration/freshports.conf.php";

if (file_exists($DiaryConfigFile)) {
   require($DiaryConfigFile);
}

#
# This should reside somewhere outside the document root.
# This will always protect the contents from any possible httpd access.
#
$PathToDatabaseConfigFile	= "/home/freshports.org/configuration"; # no trailing slash

$FreshPortsName				= "FreshPorts";
?>
