BODY, TD, TR, P, UL, OL, LI, INPUT, SELECT, DL, DD, DT, FONT
{
    font-family: Verdana, Arial, Clean, Helvetica, sans-serif;
    font-size: 12px;
}

.PhorumBodyArea
{
    font-family: Verdana, Arial, Clean, Helvetica, sans-serif;
    font-size: 12px;
    width: 500px;
}

.PhorumListTable
{
    border-style : solid;
    border-color : Black;
    border-width : 1px;
}

.PhorumListRow
{
    font-family: Verdana, Arial, Clean, Helvetica, sans-serif;
    font-size: 12px;
    height: 21px;
}

.PhorumListHeader
{
    font-family: Verdana, Arial, Clean, Helvetica, sans-serif;
    font-size : 14px;
    font-weight : bold;
    height: 24px;
}

.PhorumForumTitle
{
    font-family: Verdana, Arial, Clean, Helvetica, sans-serif;
    font-size : 24px;
    font-weight: bold;
}

.PhorumTableHeader
{
    font-family: Verdana, Arial, Clean, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.PhorumNav
{
    font-family: Geneva, Verdana, MS Sans Serif , Clean, sans-serif;
    font-size: 10px;
}

.PhorumNewFlag
{
    font-family: Geneva, Verdana, MS Sans Serif , Clean, sans-serif;
    font-size: 10px;
    color: Red;
}

.PhorumMessage
{
    font-family: Courier New, Geneva, Courier, Clean;
    font-size: 12px;
}
