<?
   # $Id: database.php.sample,v 1.1 2001-09-28 01:44:39 dan Exp $
   #
   # Copyright (c) 1998-2001 DVL Software Limited

 $db = mysql_connect("localhost", "freshports", "marlboro");
 mysql_select_db("freshports_dev",$db);

function UserToCookie($User) {
    $EncodedUserID = base64_encode(strtolower($User));
    $EncodedUserID = base64_encode($EncodedUserID);
    $EncodedUserID = base64_encode($EncodedUserID);
    $EncodedUserID = base64_encode($EncodedUserID);
    $EncodedUserID = base64_encode($EncodedUserID);
    $EncodedUserID = urlencode($EncodedUserID);

    return $EncodedUserID;
}

?>
