#
# $Id: vhosts.conf.sample,v 1.10 2012-08-11 14:27:35 dan Exp $
#
# Copyright (c) 1998-2003 DVL Software Limited
#

<VirtualHost *>
	ServerAdmin	dan@langille.org
	ServerName	freshports.org

	Redirect	permanent / http://www.freshports.org/

	ErrorLog	/usr/websites/log/freshports.org-error.log
	CustomLog	/usr/websites/log/freshports.org-access.log combined
</VirtualHost>

<VirtualHost *>
	ServerAdmin     dan@langille.org

	DocumentRoot    /usr/websites/freshports.org/www

	ServerName      www.freshports.org

	ErrorLog        /usr/websites/log/freshports.org-error.log
	CustomLog       /usr/websites/log/freshports.org-access.log combined

    Include         /usr/websites/freshports.org/configuration/virtualhost-common.conf
</VirtualHost>

<VirtualHost 206.127.23.230:80>
	ServerAdmin	dan@langille.org
	ServerName	freshports.org

	Redirect	permanent / http://www.freshports.org/

	ErrorLog	/usr/websites/log/freshports.org-error.log
	CustomLog	/usr/websites/log/freshports.org-access.log combined


</VirtualHost>

<VirtualHost 206.127.23.230:80>
	ServerAdmin     dan@langille.org

	ServerName      www.freshports.org

	DocumentRoot    /usr/websites/freshports.org/www

	ErrorLog        /usr/websites/log/freshports.org-error.log
	CustomLog       /usr/websites/log/freshports.org-access.log combined

    Include         /usr/websites/freshports.org/configuration/virtualhost-common.conf

</VirtualHost>

<VirtualHost 206.127.23.230:443>
	ServerAdmin	dan@langille.org
	ServerName	freshports.org

	Redirect	permanent / https://www.freshports.org/

	ErrorLog	/usr/websites/log/freshports.org-error.log
	CustomLog	/usr/websites/log/freshports.org-access.log combined

  SSLEngine on
  SSLCipherSuite ALL:!ADH:!EXPORT56:RC4+RSA:+HIGH:+MEDIUM:+LOW:-SSLv2:+EXP:+eNULL

  SSLCertificateFile    /usr/local/etc/ssl/www.freshports.org.crt
  SSLCertificateKeyFile /usr/local/etc/ssl/www.freshports.org.nopassword.key

  SSLCertificateChainFile /usr/local/etc/ssl/sub.class2.server.ca.pem
  SSLCACertificateFile    /usr/local/etc/ssl/ca.pem
</VirtualHost>




<VirtualHost 206.127.23.230:443>
  ServerAdmin     dan@langille.org

  ServerName      www.freshports.org

  DocumentRoot    /usr/websites/freshports.org/www

  ErrorLog        /usr/websites/log/freshports.org-error.log
  CustomLog       /usr/websites/log/freshports.org-access.log combined

  RewriteLog      /usr/websites/log/freshports.org-rewrite.log

  Include         /usr/websites/freshports.org/configuration/virtualhost-common.conf

  SSLEngine on
  SSLCipherSuite ALL:!ADH:!EXPORT56:RC4+RSA:+HIGH:+MEDIUM:+LOW:-SSLv2:+EXP:+eNULL

  SSLCertificateFile    /usr/local/etc/ssl/www.freshports.org.crt
  SSLCertificateKeyFile /usr/local/etc/ssl/www.freshports.org.nopassword.key

  SSLCertificateChainFile /usr/local/etc/ssl/sub.class2.server.ca.pem
  SSLCACertificateFile    /usr/local/etc/ssl/ca.pem

  <FilesMatch "\.(cgi|shtml|phtml|php)$">
    SSLOptions +StdEnvVars
  </FilesMatch>
  <Directory "/usr/local/www/apache22/cgi-bin">
    SSLOptions +StdEnvVars
  </Directory>

  BrowserMatch ".*MSIE.*" \
         nokeepalive ssl-unclean-shutdown \
         downgrade-1.0 force-response-1.0

  CustomLog "/usr/websites/log/freshports.org-ssl_request.log" \
          "%t %h %{SSL_PROTOCOL}x %{SSL_CIPHER}x \"%r\" %b"

</VirtualHost>                                  
