<VirtualHost *>
	ServerAdmin     dan@langille.org
	DocumentRoot    /usr/websites/www.freshports.org/www

	ServerName      www.freshports.org

	ErrorLog        /usr/websites/log/virtual.freshports.org-error.log
	CustomLog       /usr/websites/log/virtual.freshports.org-access.log common

	ErrorDocument   404 /missing.php
</VirtualHost>
