<VirtualHost *>
	ServerAdmin     dan@langille.org
	DocumentRoot    /usr/websites/www.freshports.org/www

	ServerName      www.freshports.org

	ErrorLog        /www/log/freshports.org-error.log
	CustomLog       /www/log/freshports.org-access.log common

	ErrorDocument   404 /missing.php
</VirtualHost>
