# robots.txt for http://www.freshports.org/

User-agent: *
Disallow: /_
Disallow: /images/
Disallow: /cgi-bin/
Disallow: /cgi/
Disallow: /port-description.php3
Disallow: /port-description.php3*
Disallow: /phorum/
