<?
	# $Id: database.php.sample,v 1.1.2.1 2001-11-25 00:32:57 dan Exp $
	#
	# Copyright (c) 1998-2001 DVL Software Limited

	$db = pg_connect("dbname=FreshPorts2 user=main password=AmerTrash");
	if ($db) {
#		echo 'database connected';
	} else {
#		echo 'database connection failed';
	}

function UserToCookie($User) {
	$EncodedUserID = base64_encode(strtolower($User));
	$EncodedUserID = base64_encode($EncodedUserID);
	$EncodedUserID = base64_encode($EncodedUserID);
	$EncodedUserID = base64_encode($EncodedUserID);
	$EncodedUserID = base64_encode($EncodedUserID);
	$EncodedUserID = urlencode($EncodedUserID);

	return $EncodedUserID;
}

?>
