<?php
	#
	# $Id: database.php.sample,v 1.1.2.4 2004-01-07 12:47:50 dan Exp $
	#
	# Copyright (c) 1998-2004 DVL Software Limited
	#

	$db = pg_connect("dbname=FreshPorts2 user=main password=AmerTrash");
	if ($db) {
#		echo 'database connected';
	} else {
#		echo 'database connection failed';
	}

	$Statistics->DBSet($db);

function UserToCookie($User) {
	$EncodedUserID = base64_encode(strtolower($User));
	$EncodedUserID = base64_encode($EncodedUserID);
	$EncodedUserID = base64_encode($EncodedUserID);
	$EncodedUserID = base64_encode($EncodedUserID);
	$EncodedUserID = base64_encode($EncodedUserID);
	$EncodedUserID = urlencode($EncodedUserID);

	return $EncodedUserID;
}

?>
