#
# $Id: vhosts.conf.sample,v 1.3.2.10 2003-05-16 01:09:07 dan Exp $
#
# Copyright (c) 1998-2003 DVL Software Limited
#

<VirtualHost *>
	ServerAdmin	dan@langille.org
	ServerName	freshports.org

	Redirect		permanent / http://www.freshports.org/

	ErrorLog		/usr/websites/log/freshports.org-error.log
	CustomLog	/usr/websites/log/freshports.org-access.log combined
</VirtualHost>

<VirtualHost *>
	ServerAdmin     dan@langille.org

	DocumentRoot    /usr/websites/freshports.org/www

	ServerName      www.freshports.org

	ErrorLog        /usr/websites/log/freshports.org-error.log
	CustomLog       /usr/websites/log/freshports.org-access.log combined

	ErrorDocument   404 /missing.php
</VirtualHost>
