#
# $Id: vhosts.conf.sample,v 1.3.2.2 2002-01-06 07:23:33 dan Exp $
#
# $Id: vhosts.conf.sample,v 1.3.2.2 2002-01-06 07:23:33 dan Exp $
#
# Copyright (c) 1998-2001 DVL Software Limited
#

<VirtualHost 192.168.0.18>
	ServerAdmin     dan@langille.org

	DocumentRoot    /home/freshports.org/www

	ServerName      freshports.unixathome.org

	ErrorLog        /www/logs/freshports.org-error.log
	CustomLog       /www/logs/freshports.org-access.log common

	ErrorDocument   404 /missing.php
</VirtualHost>
