<?php
  # This is a sample file and you need to copy it to constants.local.php for
  # it to be effective.
  #
  # This file contains overrides to the constants.php file and allows
  # constants to vary from instance to instance.
  # Not all contants can be overridden, only those declared with if (!defined())
  # constants which 

#define('PATH_TO_PORTSDIR', '/usr/local/');  // must have a trailing /
#define('FRESHPORTS_LOG_CACHE_ACTIVITY', 1);

# comment out this line to allow logins. the value does not matter.
#define('NO_LOGIN', false);

# set this to true to display the now-in-maintenance-mode.php page
# users get redirected there if visit the following pages:
# * bouncing.php
# * customize.php
# * committer-opt-in.php
# * filter-setup.php
# * forgotten-password.php
# * new-user.php
# * password-reset-via-token.php
# * pkg_upload.php
# * port-watch.php
# * report-subscriptions.php
# * watch-categories.php
# * watch-list-maintenance.php
# * watch-list.php
#
define('IN_MAINTENCE_MODE', true);

# if defined, and non-empty, parse out the UCL messages
define('PKG_MESSAGE_UCL', 1);

define('MAX_LOAD_SEARCH', 3.75);
define('MAX_LOAD_COMMIT', 3.752);

define('MAIL_SERVER', 'localhost');
