<?php
	#
	# $Id: database.php.sample,v 1.2 2006-12-17 11:39:35 dan Exp $
	#
	# Copyright (c) 1998-2004 DVL Software Limited
	#

	$db = @pg_connect("dbname=freshports.dev host=pg02.example.org user=www_dev password=SecretPW sslmode=require");
	if ($db) {
#		echo 'database connected';
	} else {
#		echo 'database connection failed';
        header('HTTP/1.1 503 Service Temporarily Unavailable');
        header('Status: 503 Service Temporarily Unavailable');
        header('Retry-After: 300');//300 seconds
        syslog(LOG_ERR, 'Database connection failure');
        die('Status: 503 Service Temporarily Unavailable');
	}

	$Statistics->DBSet($db);
