<?php
	#
	# $Id: freshports.conf.php.sample,v 1.5 2013-04-10 18:47:24 dan Exp $
	#
	# Copyright (c) 1998-2003 DVL Software Limited
	#

#
# This file contains the various configuration items which may differ 
# between various sites (e.g. production and development).
#


# $ShowAds - set to 1 to show all ads. 
#          - set to 0 to hide all ads, regardless of other settings.

# $BannerAd - 1 = show top banner ad.  Overridden by $ShowAds.

# $BannerAdUnder = 1 = show bottom banner ad.  Overridden by $ShowAds.

# $BurstFrontPage120x160 - 1 = show add.  Overridden by $ShowAds

# $BurstFrontPage125x125 - 1 = show add.  Overridden by $ShowAds

# $HeaderAdsPayPal       - 1 = show add

# $HeaderAdAmazon        - 1 = show add

# $HeaderAdsBurst125x125 - 1 = show add

# $HeaderAdsBurst120x160 - 1 = show add

if (substr($_SERVER['REMOTE_ADDR'], 0, 8) == '10.55.0.') {
	$ShowAds = 0;
} else {
	$ShowAds = 1;
}

$PrimaryAdSource		= 'PHPPGADS'; # one of: BURST GOOGLE PHPPGADS
$ShowAds				= 1;
$BannerAd				= 1;
$BannerAdUnder			= 1;
$BurstFrontPage120x160	= 0;
$BurstFrontPage125x125	= 1;
$BurstShowSkyscraperAd	= 1;

$FrontPageAdsPayPal		= 1;
$FrontPageAdsAmazon		= 1;
$FrontPageDaemonNews	= 1;

$ShowHeaderAds			= 0;
$HeaderAdsPayPal		= 1;
$HeaderAdAmazon			= 1;
$HeaderAdsBurst125x125	= 1;
$HeaderAdsBurst120x160	= 1;

$UsePHPAdsNew			= 0;

$RejectExternalSearches	= 0;

$AllowUserChanges		= 1;
$ShowAnnouncements		= 1;
$ShowWatchListCount		= 1;

define('WRAPCOMMITSATCOLUMN', 80);	# when we wrap long lines, where do we start?

#define('FRESHPORTS_LOG_CACHE_ACTIVITY', 1);

define('SHOW_ANIMATED_BUG', false);
