<?php

$base   = '/home/dan/FreshPorts';

$sites  = array('working-copy.freshports.org', 'beta.freshports.org', 'production.freshports.org');

$queues = array('incoming' => '*', 'retry' => '*', 'recent' => '*.xml');

$queue_names = array('incoming' => 'incoming', 'retry' => 'retry', 'recent' => 'processed');

?>
