BODY, TD, TR, P, UL, OL, LI, INPUT, SELECT, DL, DD, DT, FONT
{
    font-size: 12px;
}

IMG#fp-logo { max-width: 100%; height: auto }

CODE.code { color: #461b7e}
PRE.code {  color: #461b7e; white-space: pre-wrap; word-break: break-word; }

.like-pre {
  color: #461b7e;
  font-family: monospace;
  white-space: pre;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 25px;
}

.configure > li, .pkg-plist  > li {
    color: #461b7e;
    font-family: monospace;
}


LI.configure {
    color: #461b7e;
    display: block;
    font-family: monospace;
}

li#configureplist-Extra {
    color: #461b7e;
    font-family: monospace;
    padding-inline-start: 0px;
}
BLOCKQUOTE.code { color: #461b7e}
TD.sans { font-size: smaller; }
P.white { color: white; }
P.blackhead { color: black; font-weight: 900; }
P.whitehead { color: white; font-weight: 900; }
P.yellow { color: #FFCC33; }
A:hover { color: #666666; }
A.white { color: white; text-decoration: none; font-size: smaller; }
A.black { color: black; text-decoration: none; font-size: smaller; }
A.red   { color: red; text-decoration: none; }
A.white:hover { text-decoration: underline; }

div.section {
	padding          : 0.25em;
	background-color : #FFCC33;
	border           : 2px outset #333;
	font-size        : 120%;
	font-weight      : bold;
	text-align       : left;
}

div.section .left {
	float : left;
}

blockquote {
	margin: 15px 30px 15px 10px;
	padding-left: 20px;
	border-left: 5px solid #ddd;
}

div#time
{
    font-size: smaller
}

div#followus
{
    float: right;
    font-size: 15px;
}

div#followus .header
{
    font-size: 37px;
}


dt.required, p.required, dt.description
{
    font-weight: bold;
}

dt.description
{
  margin-top: 5px;
  margin-bottom: 15px;
  font-weight: bold;
}

dd.required
{
  margin-top: 5px;
  font-weight: bold;
  margin-inline-start: 30px;
}

dt.pkg-plist, dd.pkg-plist, dt.pkgname, dt.flavors
{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-inline-start: 0px;
}

dt.notice
{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-inline-start: 0px;
  font-size: 15px;
}

dt.h2
{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 25px;
}

ol.required, ol.depends, ol.mastersites
{
    margin-bottom: 10px;
    padding-inline-start: 0px;
}

div.showLink
{
    margin-bottom: 20px;
}

span.amazon
{
  float:     right;
  font-size: 20px;
}

span.fp_description_short
{
  font-size:   16px;
}

span.file {
    color: #007a00;
    font-family: monospace;
}

a.hash {
    font-family: monospace;
}

a.showLink, a.hideLink {
    text-decoration: none;
    color: #36f;
    padding-left: 16px;
    background: transparent url(/images/expand.gif) no-repeat left;
}

a.hideLink {
    background: transparent url(/images/contract.gif) no-repeat left;
}

a.showLink:hover, a.hideLink:hover {
    border-bottom: 1px dotted #36f;
}

li.nostyle {
    list-style-type: none;
}

li.extraspace {
    margin-top: 10px;
}

.packages { 
  background-color:#eee;
  border-collapse:collapse; 
  display: inline-block;
}

.packages th { background-color:#000; color:white; }
.packages td, .packages th { padding:8px; border:1px solid #000; }


/* for horizontal scrolling of package tables - re https://www.w3schools.com/howto/howto_css_menu_horizontal_scroll.asp#contact */

div.scrollmenu {
  background-color: #333;
  overflow: scroll;
  white-space: nowrap;
}

div.scrollmenu table {
  display: inline-block;
}



td.version:hover {
  background-color: #777;
}


/*
  from https://www.w3schools.com/css/css_tooltip.asp
  1initially planned for Quarterly branch information: https://github.com/FreshPorts/freshports/issues/115
*/
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

  
  